  <tr>
    <td><%= time_ago_in_words(owner.created_at) %></td>
    <td><%= owner.from.name %> <%= render owner.code %> a ticket to <%= owner.to.name %></td>
    <td><%= owner.ticket.title %></td>
    <td><%= owner.ticket.content %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>