  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.description %></td>
    <td><%= user.phone %></td>
    <td><%= user.outgoing.count + user.incoming.count %></td>
    <td><%= user.outgoing.count %></td>
    <td><%= user.incoming.count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= (current_user?(user) || current_user.admin?) ? (link_to 'Edit', edit_user_path(user)) : nil %></td>
    <td><%= (current_user.admin?) ? ( link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete ) : nil %></td>
  </tr>