<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Total Tickets</th>
    <th>Outgoing</th>
    <th>Incoming</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.description %></td>
    <td><%= user.phone %></td>
    <td><%= user.outgoing.count + user.incoming.count %></td>
    <td><%= user.outgoing.count %></td>
    <td><%= user.incoming.count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= (current_user?(user)) ? (link_to 'Edit', edit_user_path(user)) : nil %></td>
    <td><%= (current_user.admin?) ? ( link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete ) : nil %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
