<% if signed_in? %>

<% unless @outgoing.empty? %>
  <% @tickets = @outgoing %>
  <h2>tickets you opened</h2>
  <%= render 'tickets/ticket_set' %>
<% else %>
  <h2>you have not initiated any tickets</h2><br /><br />
<% end %>

<% unless @incoming.empty? %>
  <% @tickets = @incoming %>
  <h2>tickets from others</h2>
  <%= render 'tickets/ticket_set' %>
<% else %>
  <h2>you have not received any tickets</h2>
<% end %>

<h2>open a new ticket</h2>
<%= render 'shared/new_ticket_form' %>

<% else %>
<div id="not_signed_in">
<p>You have reached the Peace Corps Ticketing System (unofficial). Please <%= link_to 'sign in', signin_path %> or <%= link_to 'sign up', signup_path %>.</p>
</div>
<% end %>