    <tr>
      <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
      <td><% ticket.sent_by.each do |t| %><%= t.name %>&nbsp;> <% end %></td>
      <td><% ticket.sent_to.each do |t| %><%= t.name %>&nbsp;> <% end %></td>
      <td><%= render ticket.priority %></td>
      <td><%= ticket.ref_id %></td>
      <td><%= ticket.category.category %></td>
      <td>
        <%= ticket.title %>
      </td>
      <td><%= ticket.content %></td>
      <td>
        <%= render ticket.updates.first.code %><br/>
        [&nbsp;<%= ticket.updates.first.comment %>&nbsp;]
      </td>
      <td><%= time_ago_in_words(ticket.updates.first.created_at) %> ago</td>
      <td>
        <%= render :partial => 'tickets/set_update', :locals => {:ticket => ticket} %>
        [&nbsp;
        <%= link_to 'Show', ticket %>&nbsp;
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_ticket_path(ticket) %>&nbsp;
          <%= link_to 'Destroy', ticket, :confirm => 'Are you sure you want to permanently delete this ticket?', :method => :delete %>&nbsp;
        <% end %>
        ]
      </td>
    </tr>