    <tr>
      <td><%= time_ago_in_words(ticket.created_at) %> ago</td>
      <td><% ticket.sent_by.each do |t| %><%= t.name %> > <% end %></td>
      <td><% ticket.sent_to.each do |t| %><%= t.name %> > <% end %></td>
      <td><%= render ticket.priority %></td>
      <td><%= ticket.ref_id %></td>
      <td><%= ticket.category.category %></td>
      <td><%= ticket.title %></td>
      <td><%= ticket.content %></td>
      <td><%= render ticket.updates.last.code %></td>
      <td><%= time_ago_in_words(ticket.updates.last.created_at) %> ago</td>
      <td><%= render :partial => 'tickets/set_update', :locals => {:ticket => ticket} %></td>
    </tr>