<h1>updates</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Ticket</th>
    <th>Code</th>
    <th>Comment</th>
    <th>Update By</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updates.each do |update| %>
  <tr>
    <td><%= update.ticket.sent_by.last.name %></td>
    <td><%= update.ticket.sent_to.last.name %></td>
    <td><%= update.ticket.title %></td>
    <td><%= render update.code %></td>
    <td><%= update.comment %></td>
    <td><%= update.user.name %></td>
    <td><%= link_to 'Show', update %></td>
    <td><%= link_to 'Edit', edit_update_path(update) %></td>
    <td><%= link_to 'Destroy', update, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Update', new_update_path %>
