<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @update.ticket.title %>
</p>

<p>
  <b>Code:</b>
  <%= @update.code.code %>
</p>

<p>
  <b>Comment:</b>
  <%= @update.comment %>
</p>

<p>
  <b>Comment by:</b>
  <%= @update.user.name %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
