<ul class="menu">
  <% if signed_in? %>
  <li><%= current_user.name + ', ' + current_user.email %></li>
  <li>|</li>
  <% end %>
  <li><%= link_to 'home', root_path  %></li>
  <% if signed_in? %>
    <% if current_user.admin? %>
    <li><%= link_to 'users', users_path %></li>
    <li><%= link_to 'tickets', tickets_path %></li>
    <li><%= link_to 'updates', updates_path %></li>
    <li><%= link_to 'owners', owners_path %></li>
    <li><%= link_to 'priorities', priorities_path %></li>
    <li><%= link_to 'codes', codes_path %></li>
    <li><%= link_to 'categories', categories_path %></li>
    <% end %>
    <li><%= link_to 'Sign out', signout_path, :method => :delete %>
  <% else %>
  <li><%= link_to "Sign in", signin_path %></li>
<% end %>
</ul>