  <ul class="menu">
    <li><%= link_to 'home', root_path  %></li>
  </ul>
  <ul class="menu">
    <li><%= link_to users_path, users_path %></li>
    <li><%= link_to tickets_path, tickets_path %></li>
    <li><%= link_to updates_path, updates_path %></li>
    <li><%= link_to priorities_path, priorities_path %></li>
    <li><%= link_to codes_path, codes_path %></li>
    <li><%= link_to categories_path, categories_path %></li>
  </ul>
  <ul class="menu">
    <% if signed_in? %>
    <li><%= link_to 'Sign out', signout_path, :method => :delete %>
    <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>